.about {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
  }

  
.btn {
    background-image: linear-gradient(to right, rgb(248, 130, 146), rgb(247, 104, 252));
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
     transition: background 0.3s ease;
}

.btn:hover {
    background-image: linear-gradient(to right, rgb(236, 106, 124), rgb(221, 74, 226));
}